{% extends 'base.html.twig' %}

{% block title %}Nouvelle Liste{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle liste de course</h1>

    {{ include('liste/_form.html.twig') }}

    <a href="{{ path('app_home') }}">Retour à mes listes de courses</a>
{% endblock %}
